@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Germania+One&family=Girassol&family=Limelight&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------------LOADER-------------------- */
#loader{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 101;
}

#upper_loader{
    width: 100%;
    height: 63vh;
    background-color: rgb(8, 5, 11);
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items:baseline;    
    justify-content:center ;
}

#upper_loader h1{
    font-family: 'melodrama', cursive;
    color: white;
    font-size: 20vw;
    text-align: center;
    margin-top: 20vh;
}

#lower_loader{
    width: 100%;
    height: 37vh;
    background-color: rgb(8, 5, 11);
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

/* -------------------------------------NAVBAR-------------------- */
nav{
    height: 6vw;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 100;
    padding: 0vw 1vw 0vw 1.5vw;
    mix-blend-mode: difference;
}

#nav_left{
    height: 5vw;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 2.8vw;
    font-family: 'limelight', cursive;
    gap: 1vw;
}

#nav_right{
    height: 5vw;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
    font-size: 1.5vw;
}

#search_button{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    border: 1px solid rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}
#cart_button{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    border: 1px solid rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_button{
    height: 3.6vw;
    width: 8vw;
    border-radius: 3vw;    
    font-family: "outfit", sans-serif;
    border: 1px solid rgb(232, 232, 232);
    font-size: 1vw;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#icon_contact_button{
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 50%;
    font-size: 2.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(76, 74, 74, 0.66);
}

/* -------------------------------------DIV1-------------------- */

#div1{
    height: 100vh;
    width: 100%;
    background-color: rgb(8, 5, 11);
    position: sticky;
    top: 0;
}

#div1_headlines{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1.5vw;
    padding-top: 6.5vw;
    color: white;
}


#div1_left{
    height: 100%;
    width: 50%;
    font-size: 0.9rem;
    font-family: sentient, sans-serif;
    font-weight: 100;
    font-style: italic;
    position: relative;
    display: flex;
    align-items: center;        
    justify-content: start;
}

#div1_left::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(8, 5, 11);
    position: absolute;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 4.5s;
}

@keyframes fadeIn {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

#div1_right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;        
    justify-content: end;
    font-family: satoshi , sans-serif;
    font-size: 2.8rem;
    font: optional;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.18em;
}

#div1_right::after{
    content: "";
    width: 40%;
    height: 12%;
    background-color: rgb(8, 5, 11);
    position: absolute;
    animation: fadeInn 2s ease-in-out forwards;
    animation-delay: 4.5s;
}

@keyframes fadeInn {
    from {
        width: 40%;
    }
    to {
        width: 0%;
    }
}

/* ------------------------------------------------------------------------------------------------- */

.outer-container button{
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 100;
}

#right_button {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#left_button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.outer-container {
    height: calc(100vh - 25vh);
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-top: -75vh;
    position: relative;
}

.scroll-container {
    height: calc(100vh - 27vh);
    width: 98.7%;
    gap: 1vw;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: fixed;
    z-index: 99;
}

.item {
    min-width: 18.75vw;
    height: 60vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
}

.scroll-container .item:nth-child(1) {
    transform: perspective(100vh) rotateY(20deg);
    background-image: url(media/model1.jpg);
}
.scroll-container .item:nth-child(2) {
    transform: perspective(100vh) rotateY(12deg);
    background-image: url(media/model2.jpg);
}

.scroll-container .item:nth-child(3) {
/*     transform: translateY(40px);
 */    background-image: url(media/model3.jpg);
}

.scroll-container .item:nth-child(4) {
    transform: perspective(100vh) rotateY(-12deg);
    background-image: url(media/model4.jpg);
}

.scroll-container .item:nth-child(5) {
    transform: perspective(100vh) rotateY(-20deg);
    background-image: url(media/model5.jpg);
}

.item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#item6{
    background-image: url(media/model6.jpg);;
}

#item7{
    background-image: url(media/model7.jpg);
}

#item8{
    background-image: url(media/model1.jpg);
}

#item9{
    background-image: url(media/model2.jpg);
}

#item10{
    background-image: url(media/model3.jpg);
}

#item11{
    background-image: url(media/model4.jpg);
}

#item12{
    background-image: url(media/model5.jpg);
}

#item13{
    background-image: url(media/model6.jpg);
}

#item14{
    background-image: url(media/model7.jpg);
}
.scroll-container::-webkit-scrollbar {
    display: none;
}
.scroll-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}




/* -------------------------------------DIV2-------------------- */

#div2 {
    height: 100vh;
    width: 100%;
    background-color: rgba(123, 66, 179, 0.596);
    /* background-color: transparent;
    backdrop-filter: blur(10px); */
    position: sticky;
    top: 0;
}


